<template>
  <div class="home">
    <AptekaMap msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import AptekaMap from "@/components/AptekaMap.vue";

export default {
  name: "Home",
  components: {
    AptekaMap,
  },
};
</script>
