<template>
  <div class="hello">
    <div class="info">
      <el-select v-model="citySelect" placeholder="Выберите город">
        <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id"></el-option>
      </el-select>
      <div class="box">
        <div class="item-box" v-for="item in point" :key="item.id">
          <div class="name">{{ item.name }}</div>
          <div class="address">{{ item.address }}</div>
          <div class="item-info">
            Минимальная стоимость маски:
            <span
              v-if="item.gloves_price_min != null"
              style="color: green"
            >{{ item.gloves_price_min }}₽</span>
            <span style="color: red" v-else>Неизвесто</span>
          </div>
          <div class="item-info">
            Доступное количество масок:
            <span v-if="item.count != null" style="color: green">
              {{
              item.count
              }}
            </span>
            <span style="color: red" v-else>Неизвесто</span>
          </div>
          <div class="item-info">
            Минимальная стоимость перчаток:
            <span
              v-if="item.price_min != null"
              style="color: green"
            >{{ item.price_min }}₽</span>
            <span style="color: red" v-else>Неизвесто</span>
          </div>
          <div class="item-info">
            Доступное количество перчаток:
            <span
              v-if="item.gloves_count != null"
              style="color: green"
            >
              {{
              item.gloves_count
              }}
            </span>
            <span style="color: red" v-else>Неизвесто</span>
          </div>
          <div class="item-info">
            Контакты:
            <span style="color: blue">{{ item.phone }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="map-box">
      <yandex-map :coords="coords" :zoom="13" :controls="['zoomControl', 'typeSelector']">
        <ymap-marker
          :coords="[itemPoint.lat, itemPoint.lon]"
          :marker-id="itemPoint.id"
          :hint-content="itemPoint.name"
          v-for="itemPoint in point"
          :key="'point' + itemPoint.id"
          :balloon-template="balloonTemplate(itemPoint)"
        />
      </yandex-map>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HelloWorld",
  data() {
    return {
      coords: [61.001503, 69.030098],
      point: [],
      cityList: [
        { id: 1, name: "Белоярский", coord: [63.716043, 66.667588] },
        { id: 2, name: "Белый Яр", coord: [61.26072, 73.250303] },
        { id: 3, name: "Берёзово", coord: [63.935222, 65.053882] },
        { id: 4, name: "Ваховск", coord: [60.953759, 78.783921] },
        { id: 5, name: "Горноправдинск", coord: [60.05953, 69.925131] },
        { id: 6, name: "Излучинск", coord: [60.953021, 76.891171] },
        { id: 7, name: "Когалым", coord: [62.264069, 74.482761] },
        { id: 8, name: "Лангепас", coord: [61.253701, 75.180725] },
        { id: 9, name: "Луговской", coord: [61.06094, 68.505209] },
        { id: 10, name: "Лянтор", coord: [61.62452, 72.147941] },
        { id: 11, name: "Мегион", coord: [61.03289, 76.102612] },
        { id: 12, name: "Междуреченский", coord: [59.594134, 65.902493] },
        { id: 13, name: "Нефтеюганск", coord: [61.088212, 72.616331] },
        { id: 14, name: "Нижневартовск", coord: [60.938545, 76.558902] },
        { id: 15, name: "Новоаганск", coord: [61.947091, 76.662505] },
        { id: 16, name: "Нягань", coord: [62.145759, 65.433654] },
        { id: 17, name: "Октябрьское", coord: [62.456746, 66.042181] },
        { id: 18, name: "Пионерский", coord: [57.104982, 63.750328] },
        { id: 19, name: "Пойковский", coord: [60.995797, 71.897278] },
        { id: 20, name: "Покачи", coord: [61.741648, 75.599753] },
        { id: 21, name: "Приобье", coord: [62.549281, 65.648198] },
        { id: 22, name: "Пыть-Ях", coord: [60.758172, 72.837272] },
        { id: 23, name: "Радужный", coord: [62.134265, 77.458439] },
        { id: 24, name: "Русскинская", coord: [62.155054, 73.602757] },
        { id: 25, name: "Салым", coord: [60.07446, 71.463388] },
        { id: 26, name: "Селиярово", coord: [61.294673, 70.35219] },
        { id: 27, name: "Советский", coord: [61.370766, 63.566793] },
        { id: 28, name: "Солнечный", coord: [61.278657, 73.185826] },
        { id: 29, name: "Сургут", coord: [61.254035, 73.396221] },
        { id: 30, name: "Талинка", coord: [61.549762, 66.452505] },
        { id: 31, name: "Унъюган", coord: [61.947696, 64.932735] },
        { id: 32, name: "Урай", coord: [60.128951, 64.803216] },
        { id: 33, name: "Федоровский", coord: [61.609632, 73.719615] },
        { id: 34, name: "Ханты-Мансийск", coord: [61.00318, 69.018902] },
        { id: 35, name: "Югорск", coord: [61.314917, 63.331964] },
        { id: 36, name: "Ярки", coord: [60.965281, 69.513002] }
      ],
      citySelect: null,
      searchCity: "hello world",
      link:
        "https://vi.admhmao.ru/api/data-bus/mask-geodata/?action=getMaskVendors"
    };
  },

  props: {
    msg: String
  },
  created() {
    axios
      .get(`${this.link}`)
      .then(response => {
        console.log("Ответ на запрос", response.data.result);
        this.point = response.data.result;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    balloonTemplate(point) {
      let template =
        '<div class="name">' +
        point.name +
        "</div>" +
        '<div class="address">' +
        point.address +
        "</div>" +
        '<div class="price">Минимальная стоимость: ' +
        point.price_min +
        "</div>" +
        '<div class="count">Количество: ' +
        point.count +
        "</div>";

      return template;
    }
  },
  watch: {
    citySelect: function(val, oldVal) {
      console.log("новое значение: %s, старое значение: %s", val, oldVal);
      let point = this.cityList.find(item => item.id == val);
      console.log("point", point);
      axios
        .get(`${this.link}&city=${point.name}`)
        .then(response => {
          console.log("Ответ на запрос", response.data.result);
          this.point = response.data.result;
        })
        .catch(error => {
          console.log(error);
        });
      console.log(point.name);
      this.coords = point.coord;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item-box {
  text-align: left;
  margin-bottom: 20px;
}
.name {
  font-size: 18px;
  font-weight: bold;
}
.address {
  font-size: 14px;
  color: #666666;
  margin-top: 3px;
}
.item-info {
  margin-top: 3px;
  line-height: 20px;
  font-size: 15px;
}
.box {
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  scrollbar-color: #c6cdde #f3f5f6;
  scrollbar-width: thin;
  box-sizing: border-box;
  padding-right: 5px;
  margin-top: 20px;
}
.info {
  font-family: "Roboto", sans-serif;
  position: fixed;
  height: 100%;
  width: 400px;
  top: 0;
  box-sizing: border-box;
  right: 0;
  background: #fff;
  padding: 20px;
  border-color: #f4f6f9;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15);
  border-width: 1px;
  border-style: solid;
  z-index: 1;
}

.map-box {
  width: calc(100% - 400px);
  height: 100%;
}

.ymap-container {
  height: 1140px;
  width: 100%;
}
</style>

<style>
.name {
  font-size: 20px;
  font-weight: bold;
}
.address {
  color: #848484;
}
</style>
